/* Block Grid */
.grid {
    position: absolute;
    width: 560px;
    height: 800px;
    border: solid #8B80F9 3px;
    background-color: #1E1E24;
    margin-top: 100px;
    display: grid; 
    grid-template-columns: auto;
    grid-gap: 10px;
}

/* Player Paddle */
.user {
    position: absolute;
    width: 75px;
    height: 20px;
    background-color: #F8C0C8;
}

/* Block CSS */
.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #00C4BC;
}

/* Ball */
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FFB800;
}
/* Start Button */
/* .start-btn {
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
} */